{box-sizing: border-box;}
body{
    background-color: yellow;
}
header{
    background-color: black;
}

/* styling the overlay */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  /* styling overlay content */
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  /* styling the overlay links */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* setting the overlay button on hover */
  .overlay a:hover, .overlay a:focus {
    color: yellow;
  }
  
  /* styling and positioning the overlay close button */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 30px;
  }
  .span-1{
    font-size: 30px;
    cursor: pointer;
  }
  /* styling the navigation */  
.navigation{
    float: right;
    text-align: right;
    line-height: 30px;
    display: block;
    margin: 5px;
  }
  /* styling the navigation menus */
  .navigation a{
    text-decoration: none;
    padding: 5px 5px;
    color: black;
    font-weight: bolder;
  }
  /* logo section */
  h2{
    font-weight: bolder;
    margin-top: 0px;
  }
  /* navigation button styling */
  .BTN{
    border: solid;
    background-color: transparent;
    padding: 0px;
    margin-top: 10px;
    border-color: blue;
  }
  .BTN a{
    font-weight: bolder;
    padding: 2px;
    color: red;
  }
  .BTN:hover{
    background-color: black;
    color: rgb(212, 212, 8);
  }
  
  /* set background color of navigation */
  .navigation a:hover {
    background-color: black;
    color: rgb(212, 212, 8);
  }
@media screen and (min-width:925px){
  .span-1{display: none;}
}
  /* styling the navigation section for responsiveness */
  @media screen and (max-width:925px){
    .navigation {
        display: none;
    }
    .footer-nav {
      display: none;
    }
    h2{text-align: right;}
  }

  .w3-container{
    height: 100%;
  }
  .w3-container h1{
    color: black;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
  }